@font-face {
    font-family:'iransans';
    src: url('/myApp/public/iransansx/IRANSansXBold.ttf') format('tff');
    font-display: swap;
  }
html{
  font-family:'iransans';
  height: 100%;


}
body{
height:100%
}
/* .submit-button{
  transform:translate(50%,50%)
} */
.driver-card-click{

  transition-duration: 700ms;
  transform:translateX(-84px);
}

input {
  border:none;
  width:100%;
  box-sizing: border-box;
  padding:12px 16px;
  border-radius:16px;
  background-color:white;
  color:#B3B5BD;
  font-size:16px;
  font-weight:500;
}
input::after{
  border:none;
}
label{
  font-size: 12px;
  color:#9496A1;
  text-align: right;
}
.active{
  background-color:red
}
a{
  width: 100%;
  height: 100%;
  text-decoration: none;
  color:white;
  font-family:"iransans";
}